* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url(/top-view-delicious-round-pie-with-fruits-cream-dark-desk-tea-sugar-cookie-biscuit-cake-pie-sweet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;

}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}



section {
    display: flex;
    align-self: center;
    flex-direction: column;
    backdrop-filter: blur(2px);

    width: 90%;
    margin: 5em 0em;
    padding: 20px;
    background-color: #ffffff4b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
    margin: 5px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff94;
    transition: all 0.3s ease;
}

.details[open] {
    background-color: #ffffffd9;
    transform: scale(1.02);
}

.details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
}
.details summary img{
    width: 30px;
    transition: transform 0.3s ease;
    
}

ul {
    margin: 10px 0 0 20px;
    list-style: disc;
}

li {
    margin: 5px 0;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

li:hover {
    color: #007BFF;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    margin-top: 3rem;
    padding: 10px;
    width: 90%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-options {
    display: flex;
    flex-direction: column;
    top: 0;
    z-index: 1;
    align-items: right;
    justify-content: center;
    margin: 20px;
}

.filter-options button {
    padding: 10px 20px;
    margin: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

.filter-options button:hover {
    background-color: #0056b3;
}

.filter-options button.active {
    background-color: #0056b3;
}

.dark-mode-toggle {
    /* position: fixed; */
    top: 20px;
    right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}





/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
    /* background: rgb(146, 103, 103); */
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 768px) {


    .topnav a {
        display: flex;
        justify-content: center;
        text-align: right;
        /* position: fixed; */
        padding: 5px;
        width: 100%;
        background-color: #ccc;

    }

    .topnav a i {

        right: 0;
        margin-right: 10px;
        background-color: #ccc;
        padding: 10px;
        border-radius: 1em;
    }

    .filter-options {
        justify-content: center;
        margin-top: 3rem;
    }

    .filter-options button {
        font-size: large;
        padding: 10px 20px;
        margin: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s ease;
    }

    .filter-options button:hover {
        background-color: #0056b3;
    }

    .filter-options button.active {
        background-color: #0056b3;
    }

    .dark-mode-toggle {
        /* position: fixed; */
        top: 20px;
        right: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s ease;
    }

    .dark-mode-toggle:hover {
        background-color: #0056b3;
    }
}
