/* icons are got https://www.streamlinehq.com/ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 100%;
    background-image: url(/images/desktop.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #5f5f5f;
    transition: background-color 0.3s ease;

}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}



section {
    display: flex;
    align-self: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    width: 50%;
    margin: 5em 0em;
    padding: 20px;
    background-color: #ffffff4b;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details {
    margin: 5px 0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff94;
    transition: all 0.3s ease;
}

.details[open] {
    background-color: #ffffffd9;
    transform: scale(1.02);
}

.details summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
}
.details summary img{
    width: 35px;
    transition: transform 0.3s ease;
    
}

ul {
    margin: 10px 0 0 20px;
    list-style: disc;
}

li {
    margin: 5px 0;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

li:hover {
    color: #007BFF;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    margin-top: 3rem;
    padding: 10px;
    width: 90%;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.filter-options {
    display: flex;

    top: 0;

    align-items: right;
    justify-content: center;
    margin-top: 200px;
}

.filter-options button {
    font-size: large;
    padding: 10px 20px;
    margin: 10px 10px;
    box-shadow: 4px 4px 10px rgba(7, 7, 7, 0.836);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #972f2f;
    color: white;
    transition: background-color 0.3s ease;
}

.filter-options button:hover {
    background-color: #972f2fe8;

}

.filter-options button.active {
    background-color: #0056b3;
}

.dark-mode-toggle {

    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle:hover {
    background-color: #0056b3;
}





/* Style the navigation menu */
.topnav {
    overflow: hidden;

    display: flex;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.topnav a {
    display: flex;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #972f2f;
    width: 100%;

}

/* Style the hamburger menu */
.topnav a.icon {
    /* background: rgb(146, 103, 103); */
    display: block;
    position: absolute;
    height: 3em;
    right: 0;
    top: 0;

}


.topnav a:hover {
    background-color: #ac4343;
}

/* Style the active link (or home/logo) */
.active {
    background-color: #04AA6D;
    color: white;
}

footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 25px;
}

@media screen and (max-width: 768px) {
    body {
        min-height: 100vh;
        background-image: url(/images/mobile.png);
    }

    section{
        width: 90%;
    }
    .topnav a {
        display: flex;
        justify-content: center;
        text-align: right;
        padding: 5px;
        width: 100%;
        background-color: #972f2f;
    }

    .topnav a i {
        margin-right: 10px;
        background-color: #972f2f;

        padding: 10px;
        border-radius: 5px;
    }

    
    .filter-options {
        justify-content: center;
        flex-direction: column;

        border-radius: 1rem;
        background-color: #313131;
        padding: 10px;
        margin-top: 3rem;
    }

    .filter-options button {
        font-size: large;
        padding: 10px 20px;
        margin: 10px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #752727;
        background-color: #ac4343;
        


        transition: background-color 0.5s ease;
    }

    .filter-options button:hover {
        background-color: #0056b3;
        background-color: #752727b9;
    }

    .filter-options button.active {

        background-color: #752727;
    }

    .dark-mode-toggle {
        /* position: fixed; */
        top: 20px;
        right: 20px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        background-color: #007BFF;
        color: white;
        transition: background-color 0.3s ease;
    }

    .dark-mode-toggle:hover {
        background-color: #0056b3;
        background-color: #752727b9;

    }
}
